
/*************************
 Hero
*************************/

.title-avatars{
	display: inline-block;
  height: 4.6rem;
  width: 17.3rem;
  &:after{
    position: absolute;
    content: "";
    background-image: url('https://uploads-ssl.webflow.com/658ad13bc779dda3fb5777be/659d0a855dc4ababc5c9c927_hero-avatars.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 10.37rem;
    height: 3.875rem;
    bottom: -3%;
    right: 0;
    @media screen and (max-width:767px){
      width: 8.37rem;
      height: 3.125rem;
      bottom: 0%;
    }
  }
  @media screen and (max-width:767px){
    height: 3.125rem;
    width: 12.3rem;
  }
}


/*************************
 Home marquee 
*************************/
.home_marquee {
  user-select: none;
}

.home_marquee-content {
  flex-shrink: 0;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 3.75rem)); /* match 1 rem to gap above */
  }
}

/*************************
 Illustration inside the title on the third section
*************************/
.text-illustration-before:before,
.text-illustration-after:after{
    position: absolute;
    content: '';
    bottom: 50%;
    transform: translateY(55%);
    width: 7.125rem;
    height: 3.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @media screen and (max-width:767px){
      width: 4.6875rem;
      height: 2.75rem;
    }
}

.text-illustration-before:before{
  background-image: url('https://uploads-ssl.webflow.com/65b2408505bafca1f20c51e1/65c386d0e0880a68c38a0552_hallbar-service-asteri-stockholm.svg');
  left: 0px;
}

.text-illustration-after:after{
  background-image: url('https://uploads-ssl.webflow.com/65b2408505bafca1f20c51e1/65be26525f59f644cbf08ecb_kvalitet-omsorg-manniskor-asteri-stockholm.svg');
  right: 0px;
}