/* Change category filter button color when checkbox is checked */
.button:has(input[type="checkbox"]:checked){
  color: #fff;
  background-color: #000;
}

.contact-form-navigation-block .swiper-prev{
  display: none;
}


.swiper-slide{
  .contact-form-block:last-of-type{
    margin-bottom: none;
  }
}