@import 'footer.scss';

/* Please keep this css code to improve the font quality */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
  

  
/*************************
 Dashed separator 
*************************/
.border-horizontal  {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;

  path{
    fill: none;
    stroke: #CFCCC8;
    stroke-width: 2;
    stroke-dasharray: 10, 10;
  }
}


/*************************
 First section 
*************************/
.first-section{
  &:before{
    content: '';
    position: absolute;
    top: -5.625rem;
    left:0px;
    width: 100%;
    height: 7.63rem;
    border-radius: 3.75rem 3.75rem 0rem 0rem;
    background-color: #FBF7F3;
    z-index: 1;
    @media screen and (max-width: 991px){
      top: -4.625rem;
    }
    @media screen and (max-width: 568px){
      height: 3.875rem;
      border-radius: 1.875rem 1.875rem 0rem 0rem;
      top: -3.375rem;
    }
  }
}
  
/*************************
 Form checkbox
*************************/
input[type="checkbox"]{
  accent-color: #1D1D1D;
  height: 1.5rem;
  width: 1.5rem;
}

/*************************
 Buttons
*************************/
.button{
  p{
    color: inherit;
  }

  &:hover{
    .button-text-animated{
      transform: translateY(-150%);
    }
  }
}

.navbar-dropdown-button-wrapper:hover{
  .arrow-right-button{
    border: 1px solid rgba(0, 42, 64, 0);
  }
}

.arrow-right-button.is-secondary:hover,
.arrow-right-up-button.is-secondary:hover{
  border: 1px solid rgba(0, 42, 64, 0);
}

/*************************
 Text with background
*************************/
.title-background-300:after{
  position: absolute;
  content: "";
  width: 106%;
  background-color: #fbf7f3;
  border-radius: 3.75rem;
  height: 80%;
  bottom: 0%;
  left: -3%;
  z-index: -1;
}

/*************************
 Booking popup
*************************/
.booking-popup{
  width: calc(100vw - 10rem);
  height: calc(100vh - 6rem);
  @media screen and (max-width: 991px){
    width: calc(100vw - 4rem);
    height: calc(100vh - 6rem);
  }
  @media screen and (max-width: 568px){
    width: calc(100vw - 2.5rem);
    height: calc(100vh - 2.5rem);
  }
}

